html{
    scroll-behavior: smooth;
}
.container-movie{
    width: 100%;
    margin-top: 0px;
    padding: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
section h1{
    scroll-margin-top: 100px;
}
#cdrama, #KDrama, #Anime, #Funny{
    scroll-margin-top: 100px;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
.movie-scroll{
    gap: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 210px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.movie-scroll::-webkit-scrollbar{
    display: none;
    height: 0;
}
.card{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    /*border: 1px solid rgb(120, 120, 254);*/ 
    background-color: rgb(109, 242, 242);
    position: relative;
}
.card:hover{
    border: 2px solid rgb(14, 14, 235);
}
.card > img{
    width: 100%;
    height: 85%;
    border-radius: 10px 10px 0px 0px;
}
.ep{
    font-size: 18px;
    font-weight: bold;
    color: white;
    top: 76%;
    left: 69%;
    position: absolute;
}
.text{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 3px rgb(117, 115, 115);
    text-align: center;
    padding-left: 10px;
    position: absolute;
}
