*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.detail-movie{
    grid-template-columns: 1.2fr 1fr;
    height: 100vh;
    background-color: rgba(41, 39, 39, 0.886);
    color: white;
    display: grid;
    padding: 50px 0px 0px;
    position: relative;

}
.detail-movie .img img{
    width: 911px; 
    height: 750px;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
}
.trailer{
    width: 54%;
    height: 100px;
    background-color: rgba(24, 24, 24, 0.632);
    top: 20px;
    position: absolute;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    transition: 0.2s;
}
.trailer:hover{
    transform: scale(1.01);
}
.right-text{
    padding: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.right-text h1{
    font-size: 40px;
}
.date{
    font-size: 20px;
    color: rgba(250, 245, 245, 0.804);
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-bottom: 10px;
}
.icon i{
    font-size: 20px;
    color: white;
}
.icon i:hover{
    transform: scale(1.3);
    color: brown;
}
.Description{
    background-color: antiquewhite;
    padding: 15px 20px;
    margin: 10px;
    color: black;
    border-radius: 10px;
}
.Description h3{
    font-size: 20px;
    margin-bottom: 10px;
}
h3{
    width: 100px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: aquamarine;
    color: black;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.btn-ep{
    display: flex;
    gap: 10px;
}
.btn-ep button{
    padding: 10px 15px;
    background-color: aquamarine;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.btn-ep button:hover{
    background-color: rgba(94, 94, 243, 0.611);
}
