*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#main{
    width: 600px;
    height: 400px;
    border: 5px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.box1{
    width: 100px;
    height: 80px;
    background-color: aqua;
}
.box2{
    width: 100px;
    height: 80px;
    background-color: aquamarine;
}
.box3{
    width: 100px;
    height: 80px;
    background-color: blueviolet;

}
.box4{
    width: 100px;
    height: 80px;
    background-color: brown;
}