*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 70%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
}
header{
    background-color: red;
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 20px;
    text-align: center;
    align-items: center;
    padding: 25px;
}
nav{
    background-color: aquamarine;
    grid-column: 1/2;
    grid-row: 2/4;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
article{
    background-color: cadetblue;
    font-size: 20px;
    text-align: center;
    align-items: center;
}
footer{
    background-color: chartreuse;
}