*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 70%;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}
header{
    background-color: antiquewhite;
}
aside{
    background-color: aqua;
}
article{
    background-color: brown;
}
footer{
    background-color: aquamarine;
}