*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 50%;
    height: 70%;
    background-color: rgb(237, 121, 121);
    border: 1px solid black;
}
.row1{
    width: 100%;
    height: 20%;
    border: 1px solid black;
}
.row2{
    width: 100%;
    height: 30%;
    border: 1px solid black;
}
.row3{
    width: 100%;
    height: 50%;
    border: 1px solid black;
}