*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 40%;
    height: 70%;
    border: 1px solid black;
}
.row1{
    width: 100%;
    height: 25%;
    border: 1px solid black;
    background-color: aquamarine;
}
.row2{
    width: 100%;
    height: 35%;
    border: 1px solid black;
    background-color: palevioletred;
}
.row3{
    width: 100%;
    height: 20%;
    display: flex;
}
.row3{
    width: 100%;
    height: 20%;
} 
.row3 .mini-row1{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    background-color: brown;

}
.row4{
    width: 100%;
    height: 20%;
    display: flex;
}
.row4 .mini-row3{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    background-color: greenyellow;
}