*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 50%;
    height: 70%;
    background-color: rgba(252, 149, 59, 0.915);
    border: 1px solid black;
}
.row1{
    width: 100%;
    height: 20%;
    border: 1px solid black;
}
.row2{
    width: 100%;
    height: 80%;
    display: flex;
}
.row2 .col1{
    width: 20%;
    height: 100%;
    border: 1px solid black;
}
.row2 .col2{
    width: 80%;
    height: 100%;
}
.col2 .row{
    width: 100%;
    height: 50%;
    border: 1px solid black;
}
