*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 50%;
    height: 70%;
    border: 1px solid black;
}
.row1{
    width: 100%;
    height: 20%;
    background-color: antiquewhite;
    border: 1px solid black;
}
.row2{
    width: 100%;
    height: 80%;
    display: flex;
}
.row2 .col1{
    width: 20%;
    height: 100%;
    background-color: aqua;
    border: 1px solid black;
}
.row2 .col2{
    width: 80%;
    height: 100%;
}
.col2 .mini-col1{
    width: 100%;
    height: 60%;
    background-color: burlywood;
    border: 1px solid black;
}
.col2 .mini-col2{
    width: 100%;
    height: 20%;
    display: flex;
}
.mini-col2 .inside-col1{
    width: 25%;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid black;
}
.col2 .mini-col3{
    width: 100%;
    height: 20%;
    display: flex;
}
.mini-col3 .inside-col2{
    width: 25%;
    height: 100%;
    background-color: brown;
    border: 1px solid black;
}