*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 300px;
    height: 290px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 2fr;
    border: 1px solid black;
    background-color: aquamarine;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
    border: 1px solid black;
}
nav{
    grid-column: 1/2;
    grid-row: 2/4;
    border: 1px solid black;
}
aside{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid black;
}
article{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid black;
}
