*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 300px;
    height: 290px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    border: 1px solid black;
    background-color: palegreen;
}
header{
    grid-column: 1/5;
    grid-row: 1/2;
    border: 1px solid black;
}
nav{
    grid-column: 1/2;
    grid-row: 2/5;
    border: 1px solid black;
}
article{
    grid-column: 2/5;
    grid-row: 2/3;
    border: 1px solid black;
}
.box1{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid black;
}
.box2{
    grid-column: 3/4;
    grid-row: 3/4;
    border: 1px solid black;
}
.box3{
    grid-column: 4/5;
    grid-row: 3/4;
    border: 1px solid black;
}
.box4{
    grid-column: 2/3;
    grid-row: 4/5;
    border: 1px solid black;
}
.box5{
    grid-column: 3/4;
    grid-row: 4/5;
    border: 1px solid black;
}
.box6{
    grid-column: 4/5;
    grid-row: 4/5;
    border: 1px solid black;
}