*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 400px;
    height: 300px;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    border: 1px solid black;
}
header{
    background-color: palegreen;
    border: 1px solid black;
}
aside{
    background-color: aqua;
    border: 1px solid black;
}
footer{
    background-color: aquamarine;
    border: 1px solid black;
}