*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 50%;
    height: 500px;
    border: 3px solid brown;
}
header{
    width: 100%;
    height: 15%;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}
.midle{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
.row1{
    width: 60%;
    height: 40%;
    display: flex;
    margin: 3px;
    gap: 3px;
}
.row2{
    width: 60%;
    height: 30%;
    display: flex;
    gap: 3px;
}
.row1 .mainContant{
    width: 60%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: aquamarine;
}
.row1 .sidebar{
    width: 40%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: cadetblue;
}
.row2 .twin{
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: chocolate;
}
footer{
    width: 100%;
    height: 15%;
    background-color: aqua;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
