*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.relative{
    width: 200px;
    height: 200px;
    left: 100px;
    position: relative;
    background-color: aquamarine;
}
.absolute{
    width: 100px;
    height: 100px;
    background-color: bisque;
    top: 0px;
    left: 100px;
    position: absolute;
}
.fixed{
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    position: fixed;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}
.sticky{
    width: 100%;
    height: 120px;
    background-color: chocolate;
    position: sticky;
    top: 0;
}