body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    margin: 25px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: whitesmoke;
    transition: all 1s linear;
}
.btn2{
    margin: 25px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: whitesmoke;
    transition: all 0.5s ease-in;
}
.btn3{
    margin: 25px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: whitesmoke;
    transition: all 0.5s ease-out;
}
.btn4{
    margin: 25px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: steelblue;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
}
button:hover{
    background-color: aquamarine;
    color: salmon;
    transform: scale(2);
}
.text p:first-child{
    color: black;
}