.box{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transform: rotate(40deg);
    
    /*
    transform: translateX(100px);
    transform: translate(100px,100px);
    transform: translateY(100px);
    transform: scale(0.8);
    transform: scaleX(2);
    */
}