*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
}
.banner{
    width: 100%;
    height: 300px;
    background-color: aquamarine;
    text-align: center;
    position: relative;
    margin-top: 45px;
    grid-template-columns: 1fr 1fr 1fr;
}
.banner h1{
    padding: 2px;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 5px brown;
    color: #0000ff;
}
.banner .img1{
    width: 300px;
    height: 250px;
    border-radius: 50px 0px 50px 0px;
}
.banner .img2{
    width: 300px;
    height: 250px;
    border-radius: 50px 0px 50px 0px;
}
.banner .img3{
    width: 300px;
    height: 250px;
    border-radius: 50px 0px 50px 0px;
}
.banner .img4{
    width: 300px;
    height: 250px;
    border-radius: 50px 0px 50px 0px;
}
.sticky{
    background-color: aquamarine;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    position: sticky;
    top: 70px;
}
.container{
    padding: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box{
    width: 700px;
    border-radius: 10px;
    background-color: skyblue;
    padding: 20px;
    margin: 20px 0;
    position: relative;
}
.box .tag{
    border-radius: 5px;
    background-color: burlywood;
    font-size: 15px;
    position: absolute;
    top: -10px;
}
